altair 
asttokens
attrs
backcall 
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
decorator
executing
filelock
fonttools
gitdb
GitPython
idna
importlib-metadata
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
networkx 
numpy==1.23.1
opencv-python-headless==4.6.0.66
packaging
pandas 
parso
pickleshare
Pillow
prompt-toolkit
protobuf
psutil
pure-eval
py-cpuinfo
pyarrow
pydeck
Pygments
Pympler
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
referencing
requests
rich
rpds-py
scipy 
seaborn
six
smmap
stack-data
streamlit
sympy
tenacity
thop
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
ultralytics
urllib3
validators
watchdog
wcwidth
wget
zipp
